html {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}
.container {
    max-width: 600px;
    width: 90%;
    display: flex;
    flex-direction: column;
}
form {
    background-color: #fff;
    padding: 1.25rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
}
form label {
    display: block;
    margin-bottom: 0.3125rem;
}
form input[type="text"],
form input[type="email"],
form input[type="password"],
form button {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0.625rem;
    border: 0.0625rem solid #ccc;
    border-radius: 0.25rem;
    box-sizing: border-box;
}
form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}
form button:hover {
    background-color: #0056b3;
}
table {
    width: 100%;
    border-collapse: collapse;
}
table th,
table td {
    border: 0.0625rem solid #ccc;
    padding: 0.5rem;
    text-align: left;
}
table th {
    background-color: #007bff;
    color: #fff;
}

@media only screen and (max-width: 600px) {
    form,
    table {
        width: 100%;
        margin-bottom: 1rem;
    }
}